---

---

<div class="ComponentDisplayCardWrapper">
  <slot />
</div>

<style>
  .ComponentDisplayCardWrapper {
    margin: 20px 0px;
    padding: 30px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.45);
  }
</style>
