---

---

<div class="navWrapper">
  <div class="leftWrapper">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </div>
  <a href="/componentLibrary/">Component Library</a>
</div>

<style>
  .navWrapper {
    background-color: black;
    display: flex;
    justify-content: space-between;
  }

  .leftWrapper {
    display: flex;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 20px;
  }

  a:hover {
    background: white;
    color: black;
  }
</style>
